@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забыли пароль?";
    Layout = "~/Pages/Shared/_Login.cshtml";
}

<form method="post">
    @*<span class="login100-form-title p-b-30">
        @ViewData["Title"]
    </span>*@
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Укажите Email">
        <input asp-for="Input.Email" class="input100" />
        <span class="focus-input100" data-placeholder="Укажите Email"></span>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="container-login100-form-btn">
        <button type="submit" class="login100-form-btn">Восстановить</button>
    </div>
    <ul class="login-more p-t-30">
        <li>
            <a asp-page="./Login">Вернуться на страницу входа</a>
        </li>
    </ul>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
