@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Восстановление забытого пароля";
    Layout = "~/Pages/Shared/_Login.cshtml";
}

<p>
    Проверьте, пожалуйста, Ваш почтовый ящик. На Ваш почтовый ящик отправлено письмо для сброса пароля.
</p>
<ul class="login-more p-t-30">
    <li>
        <a asp-page="./Login">Вернуться на страницу входа</a>
    </li>
</ul>

