@page
@model ServiceKit.WBS.Pages.Request.RequestProjectHelpModel
@{
    Layout = null;
}

<style>
    .help {
        font-size: 13px;
    }
    .help h6 {
        padding-top: 9px;
        font-size: 14px;
        margin-bottom: 2px;
    }
</style>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">
            Правила шаблона для загрузки полного файла Проекта ИСР
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="help">
            <h6>1) Код родительского Проекта должен быть указан в ячейке R12C4</h6>

            Если код указан в другой ячейке, то система не распознает его и выдаст ошибку при загрузке файла.
            Пользователю нужно будет указать код в нужной ячейке и повторить загрузку.
            <br />
            <h6>2) Правила формирования итогового кода ИСР:</h6>

            Маска итогового кода ИСР : «Код проекта_» сцепить «код направления/объекта/системы» (в зависимости от уровня)
            <br />
            <br />

            Правила заполнения столбцов 1-5:
            <br />

            а) Значения столбцов 1, 3, 5 должны быть заполнены верно пользователем.
            <br />
            <br />

            б) Значения столбцов 2 "Объект" и 4 "Система" рекомендуем формировать автоматически по формуле СЦЕПИТЬ на основе данных из столбцов 1, 3, 5, чтобы минимизировать ошибки:
            <br />
            "Объект"=
            <br />
            "Система"=
            <br />
            <br />

            в) Для объекта 1го уровня должен быть заполнен код в столбце 1
            <br />
            Для объекта 2го уровня должны быть заполнены коды в столбцах 1,2,3
            <br />
            Для объекта 3го уровня должны быть заполнены коды в столбцах 1,2,3,4,5
            <br />
            <br />

            Проверка системы, если какие-то коды ошибочно не заполнены:
            <br />
            Если система не находит код в каком-то столбце для объекта определенного уровня, то при загрузке файла выдает ошибку.
            <br />
            Пользователь должен исправить ошибку, заполнить пропущенный код и повторить загрузку.
            <br />
            <br />


            <h6>3) В файле не должно быть пустых строк в середине таблицы, т.к. система останавливает загрузку, когда доходит до пустой строки</h6>

            <h6>4)Таблица начинается со столбца "Направление", если система не находит ячейку "Направление" в первых 20 строках – выдается ошибка.</h6>

            <h6>5) Не должно быть дублирующихся строк</h6>

            Не должно быть объектов ИСР с одинаковым кодом.
            Если система находит объекты с одинаковым кодом, то выдает ошибку, что такой код уже есть в файле.
            Пользователь должен исправить значение и повторить загрузку.

            <h6>6) Наименования должны быть заполнены для каждого объекта</h6>

            Если наименование не заполнено, то при загрузке система выдает ошибку.
            Пользователь должен дополнить наименование и повторить загрузку.

            <h6>7) Правила формирования итогового наименования объекта ИСР</h6>

            Итоговое наименование объекта ИСР формируется по маске:
            "Наименование проекта_" сцепить "Наименование направления_" сцепить "Наименование объекта_ " сцепить "Наименование сисемы" (в зависимости от уровня)
            <br />
            <br />

            Внести изменение в наименование можно на Портале по кнопке редактирования. После этого повторить проверку.
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
    </div>
