@page
@model ServiceKit.WBS.Pages.Dictionary.IndexModel
@{
    ViewData["Title"] = "Справочники";
}
@section BreadCrumb {
    @await Html.PartialAsync("_Breadcrumb", new BreadCrumbViewModel())
}

<h1>@ViewData["Title"]</h1>
<hr />
<table class="table datatable sortable">
    <thead>
        <tr>
            <th>
                Наименование
            </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    <a asp-page="./SyncSystems/Index">
                        Системы для публикации
                    </a>
                </td>
            </tr>
    </tbody>
</table>
