@page
@model ServiceKit.WBS.Pages.Administration.UserRoles.CreateModel

@{
    ViewData["Title"] = "Роли пользователей";
}
@section BreadCrumb {
    @await Html.PartialAsync("_Breadcrumb", new BreadCrumbViewModel().Add("Список пользователей", "./Index"))
}

<h4>Добавить</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserRole.UserName" class="control-label"></label>
                <input asp-for="UserRole.UserName" class="form-control" />
                <span asp-validation-for="UserRole.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRole.Role" class="control-label"></label>
                <input asp-for="UserRole.Role" class="form-control" />
                <span asp-validation-for="UserRole.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
