@model ServiceKit.Model.Common.BaseEditedEntity
@{
}
<div class="d-inline-flex flex-column" style="margin-left: 15px">
    <span class="row text-muted" style="font-size: smaller">Создан&nbsp;<i class="bi-clock"></i>&nbsp;@Model.Created&nbsp;<i class="bi-person-fill"></i>&nbsp;@Model.CreatedBy</span>
    <span class="row text-muted" style="font-size: smaller">Изменен&nbsp;<i class="bi-clock"></i>&nbsp;@Model.Modified&nbsp;<i class="bi-person-fill"></i>&nbsp;@Model.ModifiedBy</span>
</div>
