<!-- Modal -->
<div class="modal fade" id="modDialog" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div id="dialogContent"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modDialogLg" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div id="dialogContentLg"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modDeleteConfirmDialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center p-t-20">
                    @*<img src="~/images/del_big.svg" class="p-b-30"/>*@
                    <p class="brand" style="font-size: 30px; font-weight: 300;">Подтверждаете удаление?</p>
                    <div class="pt-3">
                        <button type="button" class="btn-gss-secondary" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn-gss-primary delete-confirm-action">Да, удалить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Универсальный конформатор *@
<div class="modal fade" id="modActionConfirmDialog" data-keyboard="false" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Подтвердите выполнение</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Отмена">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modActionConfirmDialogText" class="modal-body">
                Подтвердите выполнение действия
            </div>
            <div class="modal-footer">
                <form method="post">
                    <button type="submit" formnovalidate name="delete" class="btn btn-primary confirm-action-primary">Подтвердить</button>
                </form>
                <button type="button" class="btn btn-secondary confirm-action-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
